n_bands: 1
slen: 40
tile_slen: 4
ptile_slen: 52
border_padding: 24
psf_params_file: data/sdss/94/1/12/psField-000094-1-0012.fits
prob_galaxy: 0.7
n_galaxy_params: 64
gal_slen: 53
autoencoder_ckpt: models/sdss_autoencoder.ckpt
background_values:
  - 865.0
sdss_bands:
  - 2
