name: "sdss_autoencoder"
model: ${models.galaxy_net}
dataset: ${datasets.sdss_galaxies}
optimizer_params:
  lr: 1e-3
n_epochs: 1001
trainer:
  check_val_every_n_epoch: 10
  enable_checkpointing: True
