# @package _group_
name: SleepPhase
image:
  slen: 100
  n_bands: 2
  background:
    - 686.0
    - 1123.0
galaxy:
  slen: 51
  latent_dim: 8
decoder:
  params:
    n_bands: ${model.image.n_bands}
    slen: ${model.image.slen}
    tile_slen: 2
    ptile_padding: 1
    prob_galaxy: 0.0
    n_galaxy_params: ${model.galaxy.latent_dim}
    max_sources: 2
    mean_sources: 0.48
    min_sources: 0
    f_min: 1e3
    f_max: 1e6
    alpha: 0.5
    gal_slen: ${model.galaxy.slen}
    decoder_file:
    psf_params_file: ${paths.root}/data/sdss/2583/2/136/psField-002583-2-0136.fit
    background_values: ${model.image.background}
    border_padding: 3
encoder:
  params:
    n_bands: ${model.image.n_bands}
    tile_slen: ${model.decoder.params.tile_slen}
    ptile_slen:  8
    max_detections: ${model.decoder.params.max_sources}
    n_galaxy_params: ${model.galaxy.latent_dim}
    background_pad_value: ${model.image.background.0}
    pad_border_w_constant: False
