*.ipynb_checkpoints
*__pycache__
fits/*
*.pyc
*.fit
*.gz
.coverage
.DS_Store
.eggs
.tox
*lightning_logs
*.pkl
.idea
htmlcov/
build/
celeste.egg-info/
temp/
trials_result/
.vscode/
.env
jupyter/
output/
hydra_temp/
bin/
.pytest_cache/
data/sdss/rcf_list
data/sdss_all
