*.ipynb_checkpoints
*__pycache__
fits/*
*.pyc
*.fit
*.gz
.coverage
.DS_Store
.eggs
.tox
*lightning_logs
*.whl
.idea
htmlcov/
build/
celeste.egg-info/
temp/
trials_result/
.vscode/
.env
.venv
jupyter/
output/
hydra_temp/
bin/
.pytest_cache/
data/sdss/rcf_list
data/sdss_all
data/dc2/lsstdesc-public
data/dc2/calibrated_exposures
case_studies/sdss_galaxies/models/simulated_blended_galaxies.pt
case_studies/*/data/
venv
nohup.out
