stages:
  - test
  - publish

variables:
  JUPYTER_PLATFORM_DIRS: "1"

.python-setup: &python-setup
  - apt-get update && apt-get install -y pipx libfftw3-dev git-lfs
  - pipx install poetry
  - export PATH="$PATH:$HOME/.local/bin"
  - git lfs pull
  - poetry install --sync

tests:
  stage: test
  image: python:3.12
  tags:
    - saas-linux-medium-amd64-gpu-standard
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - *python-setup
    - poetry run black --check .
    - poetry run flake8 bliss/ tests/ case_studies/
    - poetry run pylint bliss/ tests/ case_studies/
    - poetry run darglint bliss/ tests/
    - poetry run pytest --cov=./bliss --cov-report=xml --durations=0
    - poetry run pytest --gpu
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

publish:
  stage: publish
  image: python:3.12
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - apt-get update && apt-get install -y pipx libfftw3-dev
    - pipx install poetry
    - export PATH="$PATH:$HOME/.local/bin"
    - poetry install --sync
    - poetry version $CI_COMMIT_TAG
    - poetry build
    - poetry publish --username __token__ --password $PYPI_TOKEN
