*.ipynb_checkpoints
*__pycache__
fits/*
*.pyc
*.fit
*.gz
.coverage
.DS_Store
.eggs
.tox
*lightning_logs
*.pkl
.idea
htmlcov/
build/
celeste.egg-info/
temp/
trials_result/
.vscode/
.env
jupyter/
output/
hydra_temp/
bin/
.pytest_cache/

case_studies/starnet/fits/*
case_studies/starnet/decaps/data/*
case_studies/starnet/sandbox/*
case_studies/starnet/decaps/fits/*
*.zpt
*.npz
*.npy
*.phot
*deleteme*

data/sdss/rcf_list
data/sdss_all
