[tool.poetry]
authors = [
  "Ismael Mendoza <imendoza@umich.edu>",
  "Runjing Liu",
  "Derek Hansen",
  "Yash Patel",
  "Ziteng Pang",
  "Zhe Zhao",
  "Mallory Wang",
  "Cheng Wang",
  "Jeffrey Regier",
]
description = "Bayesian Light Source Separator"
documentation = "https://prob-ml.github.io/bliss/"
keywords = ["cosmology", "blending", "weak lensing", "bayesian", "ml", "pytorch"]
license = "MIT"
name = "bliss-toolkit"
packages = [{include = "bliss"}]
readme = "README.md"
repository = "https://github.com/prob-ml/bliss"
version = "0.3"

[tool.poetry.scripts]
bliss = "bliss.api:main"

[tool.poetry.dependencies]
python = "^3.10"
numpy = ">=1.18.5"
scipy = ">=1.4.1"
matplotlib = ">=3.3.3"
scikit-learn = ">=0.24.2"
scikit-image = ">=0.20.0"
requests = "^2.31.0"
torch = "2.0"
torchmetrics = ">=0.5.1"
pytorch-lightning = "2.0"
einops = ">=0.3.0"
hydra-core = ">=1.0.4"
bokeh = "^3.1.1"
astropy = ">=4.2.1"
galsim = ">=2.4.10"
reproject = ">=0.11.0"
pyvo = "^1.4.1"

[tool.poetry.dev-dependencies]
Cython = ">=0.29.21"
Sphinx = ">=4.0.2"
black = ">=22.3.0"
darglint = ">=1.8.1"
flake8 = ">=4.0.1"
flake8-docstrings = ">=1.6.0"
git-lfs = ">=1.6"
ipykernel = "^6.21.0"
isort = ">=5.9.3"
jupyter = ">=1.0.0"
jupyter_contrib_nbextensions = ">=0.5.1"
nbstripout = ">=0.5.0"
plotly = ">=4.14.3"
pre-commit = ">=2.9.2"
pre-commit-hooks = "^4.4.0"
pylint = ">=2.6.0"
pytest = ">=6.1.2"
pytest-cov = ">=2.10"
sphinx-rtd-theme = ">=0.5.2"
torch-tb-profiler = "^0.4.1"
tqdm = ">=4.62.3"
wemake-python-styleguide = ">=0.16.1"
nbsphinx = "^0.9.2"
pypandoc = "^1.11"
types-requests = "^2.31.0.1"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.black]
line-length = 100
target-version = ['py310']

[tool.isort]
multi_line_output = 3
profile = "black"
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 100

[tool.pytest.ini_options]
addopts = "-ra"
filterwarnings = [
  "ignore:.*does not have many workers which may be a bottleneck.*:UserWarning",
  "ignore:GPU available but not used.*:UserWarning",
  "ignore:numpy.ndarray size changed:RuntimeWarning",
  "ignore:.*when logging on epoch level in distributed setting.*",
  "ignore:.*pkg_resources.declare_namespace.*:DeprecationWarning",
  "ignore:.*distutils Version classes are deprecated.*:DeprecationWarning",
]
minversion = "6.0"
testpaths = [
  "tests",
]
