[tool.poetry]
authors = [
  "Ismael Mendoza <imendoza@umich.edu>",
  "Runjing Liu",
  "Derek Hansen",
  "Yash Patel",
  "Ziteng Pang",
  "Zhe Zhao",
  "Mallory Wang",
  "Cheng Wang",
  "Jeffrey Regier",
]
description = "Bayesian Light Source Separator"
documentation = "https://prob-ml.github.io/bliss/"
keywords = [
  "cosmology",
  "blending",
  "weak lensing",
  "bayesian",
  "ml",
  "pytorch",
]
license = "MIT"
name = "bliss-deblender"
packages = [{ include = "bliss" }]
readme = "README.md"
repository = "https://github.com/prob-ml/bliss"
version = "0.1.1"

[tool.poetry.dependencies]
astropy = "^6.0"
einops = ">=0.6.0"
galsim = "^2.4.10"
hydra-core = "^1.3.2"
matplotlib = "^3.7.2"
numpy = "^1.25.2"
python = "^3.10,<3.13"
pytorch-lightning = "^2.0.6"
scikit-learn = "^1.3.0"
scipy = "^1.11.1"
seaborn = "^0.12.2"
torch = "^2.0"
torchmetrics = "^1.0.1"
sep = "^1.2.1"
galcheat = "^1.0.0"

[tool.poetry.dev-dependencies]
Cython = ">=0.29.21"
black = "^23.7.0"
flake8 = "^6.0.1"
ipykernel = "^6.21.0"
isort = "^5.9.3"
jupyter = "^1.0.0"
jupyter_contrib_nbextensions = "^0.7.0"
nbstripout = "^0.6.0"
pylint = "^2.17.0"
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
pytest-mypy = "^0.10.3"
tqdm = "^4.65.0"
wemake-python-styleguide = "^0.18.0"
pre-commit = "^3.6.0"


[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.black]
line-length = 100
target-version = ['py310']

# pyproject.toml
[tool.pytest.ini_options]
addopts = "-ra"
filterwarnings = [
  "ignore:.*does not have many workers which may be a bottleneck.*:UserWarning",
  "ignore:GPU available but not used.*:UserWarning",
  "ignore:numpy.ndarray size changed:RuntimeWarning",
  "ignore:.*when logging on epoch level in distributed setting.*",
  "ignore:.*Deprecated call to `pkg_resources.declare_namespace.*:DeprecationWarning",
  "ignore:.*distutils Version classes are deprecated.*:DeprecationWarning",
  "ignore:.*pkg_resources is deprecated as an API.*:DeprecationWarning",
]
minversion = "6.0"
testpaths = ["tests"]
