[tool.poetry]
authors = ["Ismael Mendoza", "Runjing Liu", "Derek Hansen", "Ziteng Pang", "Zhe Zhao", "Jeffrey Regier"]
description = "Bayesian Light Source Separator"
license = "MIT"
name = "bliss"
packages = [{include = "bliss"}, {include = 'case_studies'}]
version = "0.1.0"

[tool.poetry.dependencies]
astropy = "~4.2.1"
einops = "^0.3.0"
galsim = "^2.2.4"
hydra-core = "^1.0.4"
matplotlib = "^3.3.3"
nflows = "^0.14"
numpy = "^1.18.5"
python = "^3.8"
pytorch-lightning = "^1.5.1"
scipy = "^1.4.1"
seaborn = "^0.11.2"
torch = "~1.8"
torchmetrics = "^0.5.1"

[tool.poetry.dev-dependencies]
Cython = "^0.29.21"
Sphinx = "^3.4.3"
black = "^20.8b1"
darglint = "^1.8.1"
flake8 = "^3.9.2"
flake8-docstrings = "^1.6.0"
git-lfs = "^1.6"
isort = "^5.9.3"
jupyter = "^1.0.0"
jupyter_contrib_nbextensions = "^0.5.1"
nbstripout = "^0.3.9"
plotly = "^4.14.3"
pre-commit = "^2.9.2"
pre-commit-hooks = "^4.0.1"
pylint = "^2.6.0"
pytest = "^6.1.2"
pytest-cov = "^2.10"
rope = "^0.18.0"
scikit-learn = "^0.24.2"
sphinx-rtd-theme = "^0.5.2"
statsmodels = "^0.12.2"
tox = "^3.20.1"
tqdm = "^4.62.3"
wemake-python-styleguide = "^0.15.3"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.black]
line-length = 100
target-version = ['py38']

# pyproject.toml
[tool.pytest.ini_options]
addopts = "-ra"
filterwarnings = [
  "ignore:.*does not have many workers which may be a bottleneck.*:UserWarning",
  "ignore:.*Found no NVIDIA driver on your system.*:UserWarning",
  "ignore:GPU available but not used.*:UserWarning",
  "ignore:numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 232 from PyObject:RuntimeWarning",
  "ignore:numpy.ndarray size changed:RuntimeWarning",
  "ignore:.*torch.meshgrid.*:UserWarning",
  "ignore:`training_step` returned `None`:UserWarning",
]
minversion = "6.0"
testpaths = [
  "tests",
]
