[tool.poetry]
authors = ["Bryan Liu", "Ismael Mendoza", "Zhe Zhao", "Jeffrey Regier"]
description = "Bayesian Light Source Separator"
license = "MIT"
name = "bliss"
version = "0.1.0"

[tool.poetry.dependencies]
astropy = "~4.2.1"
einops = "^0.3.0"
galsim = "^2.2.4"
hydra-core = "^1.0.4"
hyperopt = "^0.2.5"
matplotlib = "^3.3.3"
numpy = "^1.18.5"
python = "^3.8"
pytorch-lightning = "^1.0.8"
scipy = "^1.4.1"
torch = "1.7.1"

[tool.poetry.dev-dependencies]
Cython = "^0.29.21"
Sphinx = "^3.4.3"
black = "^20.8b1"
flake8 = "^3.9.2"
git-lfs = "^1.6"
isort = "^5.9.3"
jedi = "0.17.2"
jupyter = "^1.0.0"
jupyter_contrib_nbextensions = "^0.5.1"
nbstripout = "^0.3.9"
plotly = "^4.14.3"
pre-commit = "^2.9.2"
pre-commit-hooks = "^4.0.1"
pylint = "^2.6.0"
pytest = "^6.1.2"
pytest-cov = "^2.10"
ray = {extras = ["tune", "default"], version = "^1.0.1"}
rope = "^0.18.0"
scikit-learn = "^0.24.2"
speclite = "^0.13"
tox = "^3.20.1"
wemake-python-styleguide = "^0.15.3"
sphinx-rtd-theme = "^0.5.2"

[tool.poetry.scripts]
bliss = "bliss.main:main"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.black]
line-length = 100
target-version = ['py38']
