defaults:
    - _self_
    - training:
    - override hydra/job_logging: stdout

# completely disable hydra logging
# https://github.com/facebookresearch/hydra/issues/910
hydra:
    output_subdir: null
    run:
        dir: .

mode: train

gpus: 1 # use a single gpu by default.

paths:
    root: ${oc.env:BLISS_HOME}
    sdss: ${paths.root}/data/sdss
    data: ${paths.root}/data
    project: ${paths.root}/case_studies/coadds
    output: ${paths.project}/output

datasets:
    galsim_blends:
        _target_: bliss.datasets.galsim_galaxies.GalsimBlends
        prior:
            _target_: bliss.models.galsim_decoder.UniformGalsimPrior
            single_galaxy_prior:
                _target_: bliss.models.galsim_decoder.SingleGalsimGalaxyPrior
                flux_sample: "pareto"
                min_flux: 622.0
                max_flux: 1e6
                alpha: 0.47
                a_sample: "gamma"
                a_concentration: 0.39330758068481686
                a_loc: 0.8371888967872619
                a_scale: 4.432725319432478
                a_bulge_disk_ratio: 2.0
            max_n_sources: 8
            mean_sources: 3
            max_shift: 0.5
            galaxy_prob: 0.0
        decoder:
            _target_: bliss.models.galsim_decoder.FullCatalogDecoder
            single_galaxy_decoder:
                _target_: bliss.models.galsim_decoder.SingleGalsimGalaxyDecoder
                n_bands: 1
                slen: 53
                pixel_scale: 0.396
                psf_params_file: ${paths.data}/sdss/94/1/12/psField-000094-1-0012.fits
                psf_slen: 25
                psf_gauss_fwhm: null
                sdss_bands:
                    - 2
            slen: 40
            bp: 24
        background:
            _target_: bliss.datasets.background.ConstantBackground
            background:
                - 865.0
        tile_slen: 4
        max_sources_per_tile: 1
        num_workers: 10
        batch_size: 32
        n_batches: 10
        fix_validation_set: True
        valid_n_batches: 200
    galsim_blends_coadds:
        _target_: case_studies.coadds.coadd_decoder.CoaddGalsimBlends
        prior:
            _target_: case_studies.coadds.coadd_decoder.CoaddUniformGalsimPrior
            single_galaxy_prior: ${datasets.galsim_blends.prior.single_galaxy_prior}
            max_n_sources: 8
            mean_sources: 3
            max_shift: 0.5
            galaxy_prob: 0.0
            n_dithers: 10
        decoder:
            _target_: case_studies.coadds.coadd_decoder.CoaddFullCatalogDecoder
            single_galaxy_decoder: ${datasets.galsim_blends.decoder.single_galaxy_decoder}
            slen: 40
            bp: 25 # needs to be 24+1 to account for padding
        background: ${datasets.galsim_blends.background}
        tile_slen: 4
        max_sources_per_tile: 1
        num_workers: 10
        batch_size: 32
        n_batches: 10
        fix_validation_set: False
        valid_n_batches: 200
models:
    detection_encoder:
        _target_: bliss.models.detection_encoder.DetectionEncoder
        input_transform:
            _target_: bliss.models.detection_encoder.ConcatBackgroundTransform
        n_bands: 1
        tile_slen: 4
        ptile_slen: 52
        max_detections: 1
        channel: 8
        spatial_dropout: 0.0
        dropout: 0.0
        hidden: 128
        annotate_probs: True
        slack: 1.0

training:
    n_epochs: 1001
    experiment: encoder
    name: null
    version: null
    save_top_k: 1
    trainer:
        _target_: pytorch_lightning.Trainer
        logger: True
        enable_checkpointing: True
        profiler: null
        reload_dataloaders_every_n_epochs: 0
        max_epochs: ${training.n_epochs}
        min_epochs: ${training.n_epochs}
        gpus: ${gpus}
        limit_train_batches: 1.0
        limit_val_batches: 1.0
        check_val_every_n_epoch: 10
        log_every_n_steps: 10 # correspond to n_batches
    testing:
        file: null
        batch_size: 32
        num_workers: 0
    weight_save_path: ${paths.project}/output/${training.name}.pt
    seed: 42
    model: ${models.detection_encoder}
    dataset: ${datasets.galsim_blends}
    optimizer_params:
        lr: 1e-4

results:
    overwrite: False
    test_path: ${paths.project}/output/test_dataset_extended.pt
    cache_results: ${paths.project}/output/new_models/metrics_mags.pt
    models_path: ${paths.project}/output/new_models
    figs_path: ${paths.project}/output/figs/new1
    figs:
        - coadd_example
        - money4
    models:
        - "single"
        # - "coadd_5"
        - "coadd_10"
        - "coadd_25"
        # - "coadd_35"
        - "coadd_50"
    mag_bins:
        - 20
        - 23
        - 0.2
