deterministic: False
plotting: True
n_epochs: 121
experiment: default
version: null
save_top_k: 1
trainer:
  logger: True
  checkpoint_callback: False
  profiler: null
  reload_dataloaders_every_epoch: False
  max_epochs: ${training.n_epochs}
  min_epochs: ${training.n_epochs}
  gpus: ${gpus}
  limit_train_batches: 1.0
  limit_val_batches: 1.0
  check_val_every_n_epoch: 10
