model: ${models.galaxy_net}
dataset: ${datasets.sdss_galaxies}
optimizer: ${optimizers.adam}
n_epochs: 8001
experiment: default
version: null
save_top_k: 1
trainer:
  _target_: pytorch_lightning.Trainer
  logger: True
  checkpoint_callback: true
  profiler: null
  reload_dataloaders_every_epoch: False
  max_epochs: ${training.n_epochs}
  min_epochs: ${training.n_epochs}
  gpus: ${gpus}
  limit_train_batches: 1.0
  limit_val_batches: 1.0
  check_val_every_n_epoch: 10
  log_every_n_steps: 10 # correspond to n_batches
  deterministic: False
