defaults:
  - optimizer: adam
  - model: sleep_star_basic
  - training: default
  - dataset: default
  - testing: default
  - generate: default
  - optional tuning: ${model}
  - predict: sdss_basic

mode: train

general:
  overwrite: False

gpus:
  - 0

paths:
  root: ${env:BLISS_HOME}
  data: ${paths.root}/data
  models: ${paths.root}/models
  output: ${paths.root}/temp/default
  sdss: ${paths.root}/data/sdss
