defaults:
  - optimizer: adam
  - model: sleep_star_basic
  - training: default
  - dataset: default
  - testing: default
  - generate: default
  - tuning: ${defaults.1.model}

general:
  overwrite: False

gpus:
  - 0

paths:
  root: ${env:BLISS_HOME}
  output: ${paths.root}/temp/example
