_target_: bliss.datasets.galsim_galaxies.SDSSGalaxies
num_workers: 0
batch_size: 64
n_batches: 10
background: 865
slen: 53
min_flux: 1e3
max_flux: 3.5e5
min_a_d: 0.8
max_a_d: 6.5
min_a_b: 0.8
max_a_b: 3.6 # from catalog with mag < 22.2 cut.
flux_sample: "uniform"
psf_image_file: data/psField-000094-1-0012-PSF-image.npy
