_target_: bliss.datasets.galsim_galaxies.ToyGaussian
num_workers: 0
n_batches: 10
batch_size: 64
slen: 53
background: 865.
psf_fwhm: 0.8
pixel_scale: 0.4
min_flux: 300 # to be observable it cannot be too below background.
max_flux: 10000
min_hlr: 0.8
max_hlr: 3.0
max_e: 0.6
