name: nightly

on:
  schedule:
    # run daily at 3:00 am
    - cron: '0 3 * * *'

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - name: Checkout github repo (+ download lfs dependencies)
        uses: actions/checkout@v2
        with:
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Create environment variables
        run: echo "BLISS_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV

      - name: Install Poetry
        run: |
          pip install --upgrade pip
          pip install "poetry-core>=1.0.0"
          pip install "poetry==1.1.11"

      - name: Poetry cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pypoetry
          key: ${{ runner.os }}-${{ hashFiles('./poetry.lock') }}

      - name: Install poetry dependencies
        run: |
          poetry install

      - name: Run case studies
        run: |
          poetry run make -C case_studies/sdss_galaxies_vae/
